@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

@layer components {
  .button {
    background-color: theme("colors.green");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.2");
    color: theme("colors.white");
    @apply font-bold text-xl text-center;
    @apply w-full;
  }
  .card {
    background-color: theme("colors.white");
    box-shadow: theme("boxShadow.default");
    border-radius: theme("borderRadius.2xl");
    @apply w-full;
    @apply content-center;
    @apply p-4;
    @apply flex justify-center items-center flex-col;
  }
  .login {
    @apply w-5/6 lg:w-2/6 md:w-3/6 xxl:w-1/6 min-w-300;
  }
  .flex-container {
    @apply m-auto h-full;
    @apply flex justify-center items-center;
  }
}
