@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 110vh; /**/
  min-height: 100%;
  height: auto !important; /* cross-browser */
}

@layer components {
  .button {
    background-color: theme("colors.green");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.2");
    color: theme("colors.white");
    @apply font-bold text-xl text-center;
    @apply w-full;
  }
  .card {
    background-color: theme("colors.white");
    box-shadow: theme("boxShadow.default");
    border-radius: theme("borderRadius.2xl");
    @apply w-full;
    @apply content-center;
    @apply p-4;
    @apply flex justify-center items-center flex-col;
  }
  .flex-container {
    @apply m-auto h-full mb-28 sm:mt-28 sm:mb-4;
    @apply flex flex-col justify-center items-center gap-8;
    @apply w-5/6  sm:max-xl:w-3/6 xl:w-2/6 min-w-300;
  }
  .grid-container {
    @apply grid gap-2 grid-cols-1 sm:grid-cols-2 sm:gap-2;
  }
  .chart-container {
    @apply w-4/5 h-64;
  }
  .home-grid-container {
    @apply grid gap-2 grid-cols-1 sm:grid-cols-3 sm:gap-2;
  }
}
